{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Vision Edge AI{% endblock %}

{% block head %}
  {{ super() }}
    <!-- jQuery and jqWidgets CSS and JS -->
    

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="main">
        <h1 id="title">Vision Edge AI</h1>

        <div id="main-content" class="d-flex align-items-center justify-content-center">
            <!-- CPU Load Gauge on the left -->
            <div id="cpuGauge" class="gauge-container"></div>

            <!-- Video feed in the center -->
            <div class="video-container">
                <img id="source" src="{{ url_for('video_feed') }}" class="img-fluid scale-in">
            </div>

            <!-- Power Consumption Gauge on the right -->
            <div id="powerGauge" class="gauge-container"></div>
        </div>

        <!-- Controls section -->
        <div id="control" class="mt-3">
            <!-- Dropdown for selecting existing files and file input for new uploads -->
            <div class="dropdown">
                <button class="custom-button btn btn-primary dropdown-toggle" type="button" id="fileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ default_file }}
                </button>
                <div class="dropdown-menu" id="fileDropdownMenu">
                    <h6 class="dropdown-header">Select Existing File</h6>
                    <div id="existingFiles"></div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Upload New File</h6>
                    <label class="dropdown-item" for="fileInput" style="cursor: pointer;">Choose File...</label>
                    <input type="file" id="fileInput" style="display: none;">
                </div>
            </div>

            <!-- Model selection dropdown -->
            <div class="dropdown">
                <button class="custom-button btn btn-secondary dropdown-toggle" type="button" id="modelDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ default_model }}
                </button>
                <div class="dropdown-menu" aria-labelledby="modelDropdown">
                    <a class="dropdown-item model-option" data-model="yolov8n">yolov8n</a>
                    <a class="dropdown-item model-option" data-model="yolov8s">yolov8s</a>
                    <a class="dropdown-item model-option" data-model="yolov8m">yolov8m</a>
                </div>
            </div>

            <!-- Device selection dropdown -->
            <div class="dropdown">
                <button class="custom-button btn btn-secondary dropdown-toggle" type="button" id="deviceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ default_device }}
                </button>
                <div class="dropdown-menu" aria-labelledby="deviceDropdown">
                    <a class="dropdown-item device-option" data-device="GPU">GPU</a>
                    <a class="dropdown-item device-option" data-device="CPU">CPU</a>
                    <a class="dropdown-item device-option" data-device="NPU">NPU</a>
                </div>
            </div>

            <!-- Precision selection dropdown -->
            <div class="dropdown">
                <button class="custom-button btn btn-secondary dropdown-toggle" type="button" id="precisionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ default_precision }}
                </button>
                <div class="dropdown-menu" aria-labelledby="precisionDropdown">
                    <a class="dropdown-item precision-option" data-precision="FP32">FP32</a>
                    <a class="dropdown-item precision-option" data-precision="FP16">FP16</a>
                    <a class="dropdown-item precision-option" data-precision="INT8">INT8</a>
                </div>
            </div>
        </div>
        
        <!-- Table for displaying the CPU and GPU models -->
        <div id="cpuInfo" class="mt-3">
            <table class="table table-borderless">
                <tr>
                    <td><strong>CPU</strong></td>
                    <td class="cpu-model">{{ cpu_model }}</td>
                </tr>
                <tr>
                    <td><strong>GPU</strong></td>
                    <td class="gpu-model">{{ gpu_model }}</td>
                </tr>
            </table>
        </div>

        <div id="uploadStatus" class="mt-3"></div> <!-- Display upload status -->
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
     <script src="https://jqwidgets.com/public/jqwidgets/jqxcore.js"></script>
    <script src="https://jqwidgets.com/public/jqwidgets/jqxdraw.js"></script> <!-- Required for gauge rendering -->
    <script src="https://jqwidgets.com/public/jqwidgets/jqxgauge.js"></script>
    <script>
        $(document).ready(function() {

            $("#cpuGauge").jqxGauge({
                ranges: [
                    { startValue: 0, endValue: 50, style: { fill: '#4CAF50', stroke: '#4CAF50' }, endWidth: 5, startWidth: 5 },
                    { startValue: 50, endValue: 80, style: { fill: '#FFC107', stroke: '#FFC107' }, endWidth: 5, startWidth: 5 },
                    { startValue: 80, endValue: 100, style: { fill: '#F44336', stroke: '#F44336' }, endWidth: 5, startWidth: 5 }
                ],
                ticksMinor: { interval: 5, size: '5%' },
                ticksMajor: { interval: 10, size: '9%' },
                value: 0,
                min: 0,
                max: 100,
                colorScheme: 'scheme05',
                animationDuration: 500,
                width: 150,
                height: 150,
                labels: { interval: 10 },
                caption: {
                    value: '',
                    position: 'bottom',
                    offset: [0, 10],
                    visible: true,
                    font: { size: 16, weight: 'bold' }
                }
            });

            $("#powerGauge").jqxGauge({
                    ranges: [
                        { startValue: 0, endValue: 20, style: { fill: '#4CAF50', stroke: '#4CAF50' }, endWidth: 5, startWidth: 5 },
                        { startValue: 20, endValue: 40, style: { fill: '#FFC107', stroke: '#FFC107' }, endWidth: 5, startWidth: 5 },
                        { startValue: 40, endValue: 60, style: { fill: '#F44336', stroke: '#F44336' }, endWidth: 5, startWidth: 5 }
                    ],
                    ticksMinor: { interval: 5, size: '5%' },
                    ticksMajor: { interval: 10, size: '9%' },
                    value: 0,
                    min: 0,
                    max: 60,
                    colorScheme: 'scheme05',
                    animationDuration: 500,
                    width: 150,
                    height: 150,
                    labels: { interval: 10 },
                    caption: {
                        value: '',
                        position: 'bottom',
                        offset: [0, 10],
                        visible: true,
                        font: { size: 16, weight: 'bold' }
                    }
                });

            function updateGauges() {
                $.ajax({
                    url: "/metrics",
                    method: "GET",
                    success: function(data) {
                        // Update CPU Gauge
                        $("#cpuGauge").jqxGauge({ caption: { value: data.cpu_percent } }); // Update caption text
                        $("#cpuGauge").jqxGauge('value', data.cpu_percent);
                        
                        // Update Power Gauge
                        $("#powerGauge").jqxGauge({ caption: { value: data.power_data } }); // Update caption text
                        $("#powerGauge").jqxGauge('value', data.power_data);  // Adjust if necessary based on actual response structure
                    },
                    error: function() {
                        console.error("Failed to fetch metrics data");
                    }
                });
            }

            // Update gauge every second
            setInterval(updateGauges, 1000);

            let currentFile = "{{ default_file }}";
            let currentDevice = "{{ default_device }}";  
            let currentPrecision = "{{ default_precision }}";  
            let currentModel = "{{ default_model }}";  

            // Load files dynamically for selection
            $.getJSON('/get_uploaded_files', function(files) {
                files.forEach(function(file) {
                    $('#existingFiles').append(
                        `<a class="dropdown-item file-option" data-file="${file}">${file}</a>`
                    );
                });

                // Hide the current file from the dropdown
                $(`.file-option[data-file="${currentFile}"]`).hide();
            });

            // Function to select a source file with scaling effect
            function selectSource(source) {
                // Apply scale-out effect on video
                $('#source').removeClass('scale-in').addClass('scale-out');

                // Delay for scale-out, then update source and scale back in
                setTimeout(function() {
                    $('#fileDropdown').text(source);
                    $.ajax({
                        url: '/select_source',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ source: source }),
                        success: function(response) {
                            console.log('Source selected successfully:', response);

                            // Hide the previously selected source and update the current file
                            $(`.file-option[data-file="${currentFile}"]`).show();
                            $(`.file-option[data-file="${source}"]`).hide();
                            currentFile = source;

                            // Apply scale-in effect after source selection
                            $('#source').removeClass('scale-out').addClass('scale-in');
                        },
                        error: function(xhr, status, error) {
                            console.error('Error selecting source:', error);
                            $('#source').removeClass('scale-out').addClass('scale-in'); // Ensure video scales back in on error
                        }
                    });
                }, 500); // Delay to match the CSS transition duration
            }

            // Handle file selection from existing files
            $('#fileDropdownMenu').on('click', '.file-option', function() {
                const selectedFile = $(this).data('file');
                if (selectedFile !== currentFile) {
                    selectSource(selectedFile);
                }
            });

            // Model selection with scale effect on video
            function selectModel(model) {
                // Add scale-out effect to video
                $('#source').removeClass('scale-in').addClass('scale-out');

                // Delay for scale-out, then update model and scale back in
                setTimeout(function() {
                    $('#modelDropdown').text(model);
                    $.ajax({
                        url: '/select_model',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ model: model }),
                        success: function(response) {
                            console.log('Model selected successfully:', response);

                            // Hide previously selected model and update the current model
                            $(`.model-option[data-model="${currentModel}"]`).show();
                            $(`.model-option[data-model="${model}"]`).hide();
                            currentModel = model;

                            // Scale video back in after model selection
                            $('#source').removeClass('scale-out').addClass('scale-in');
                        },
                        error: function(xhr, status, error) {
                            console.error('Error selecting model:', error);
                            $('#source').removeClass('scale-out').addClass('scale-in'); // Ensure video scales back in on error
                        }
                    });
                }, 500); // Delay matches the CSS transition duration
            }

            function selectDevice(device) {
                $('#deviceDropdown').text(device);
                $.ajax({
                    url: '/select_device',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ device: device }),
                    success: function(response) {
                        console.log('Device selected successfully:', response);

                        $(`.device-option[data-device="${currentDevice}"]`).show();
                        $(`.device-option[data-device="${device}"]`).hide();
                        currentDevice = device;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error selecting device:', error);
                    }
                });
            }

            function selectPrecision(precision) {
                $('#precisionDropdown').text(precision);
                $.ajax({
                    url: '/select_precision',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ precision: precision }),
                    success: function(response) {
                        console.log('Precision selected successfully:', response);

                        $(`.precision-option[data-precision="${currentPrecision}"]`).show();
                        $(`.precision-option[data-precision="${precision}"]`).hide();
                        currentPrecision = precision;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error selecting precision:', error);
                    }
                });
            }

            // Initial selection of model, device, and precision
            selectModel(currentModel);
            selectDevice(currentDevice);
            selectPrecision(currentPrecision);

            // Model, Device, and Precision selection click handlers
            $('.model-option').on('click', function() {
                const selectedModel = $(this).data('model');
                if (selectedModel !== currentModel) {
                    selectModel(selectedModel);
                }
            });

            $('.device-option').on('click', function() {
                const selectedDevice = $(this).data('device');
                if (selectedDevice !== currentDevice) {
                    selectDevice(selectedDevice);
                }
            });

            $('.precision-option').on('click', function() {
                const selectedPrecision = $(this).data('precision');
                if (selectedPrecision !== currentPrecision) {
                    selectPrecision(selectedPrecision);
                }
            });


        });
    </script>
{% endblock %}
